.navbar {
    border-style: solid;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.link {
    text-decoration: none;
    color: black;
    overflow-x: hidden;
    margin: auto;


}